@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dropdown{
    display: inline-block;
}
.dropdown btn{
    font-size: 28px;
    background-color: rgb(156, 156, 156);
    color:black;
    padding: 10px 15px;
    border: 1px;
    cursor: pointer;
    border: 1px 1px 1px 1px;
}
.dropdown li{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 0.387);

}
.dropdown:hover .content{
    display: block;
}
.dropdown li:hover{
    background-color: skyblue;
    cursor: pointer;
    transition: 0.5s;
} */